.form-labels {
        width: 200px;
    }

    .form-row{
        margin: 5px 0;
    }

    .form-inputs{
        width: 500px !important;
    }

    .form-add-button{
        margin-left: 204px;
        width: 150px;
    }